@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
	transition: all 0.3s ease;
}

:root {
	--bg-black: #030303;
	--bg-hover: #958282;
	--bg-gray: #d9d9d9;
	--text-white: #FFF9F9;
	--text-gray: #7c7777;
    --color-border: #C4C4C4
}

body {
	height: 100vh;
}

main {
	position: absolute;
	overflow: hidden;
    left: 280px;
	height: calc(100vh - 150px);

}

.text-gray {
    color: var(--text-gray)
}

.capitalize {
	text-transform: capitalize;
}

.font-xs {
	font-size: 12px;
}

.font-sm {
	font-size: 16px;
}

.font-md {
	font-size: 22px;
}
.font-ls{
	font-size: 20px;
}
.font-lg {
	font-size: 25px;
}

.font-xl {
	font-size: 32px;
}
.font-l{
	font-size: 30px;
}
.font-light {
	font-weight: 300;
}
.font-normal {
	font-weight: 400;
}
.font-medium {
	font-weight: 500;
}
.font-semibold {
	font-weight: 600;
}
.font-bold {
	font-weight: 700;
}

.projects__header-container {
	display: flex;
	position: relative;
    height: 150px;
}
#projects__content-main{
	height: calc(100vh - 150px);
	overflow: hidden;
}
.projects__header {
	background-color: var(--bg-black);
	width: 280px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.projects__header .logo-wrapper {
	width: 100%;
	padding-top: 20px;
	display: flex;
	justify-content: center;
}

.projects__content-buttons {
	margin-top: auto;
}

.navigation-list {
	padding: flex;
	width: 100;
	padding: 0;
}

.navigation-list li a {
	display: flex;
	margin: 25px 0 0 15px;
	align-items: center;
	justify-content: flex-start;
	text-decoration: none;
	text-transform: capitalize;
	height: 66px;
}

.navigation-list li a:hover {
	background-color: var(--bg-hover);
}

.projects__content-img {
	height: 50px;
	width: 50px;
}

.navigation-list li a p {
	display: flex;
	margin: 25px 0;
	padding-left: 15px;
	color: var(--text-white);
}

.projects__content-buttons a {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 20px;
    padding-left: 25px;
	font-size: 20px;
	color: var(--text-white);
	text-decoration: none;
	text-transform: capitalize;
	gap: 20px;
}

.projects__content {
	width: 100%;
	/* height: 100vh; */
}
#header{
	height: 100vh;
}
.projects__content-title {
	background-color: var(--bg-gray);
	height: 150px;
	width: 100%;
}
.title-bar-user-text .font-l{
	font-weight: 600;
}
.title-section-img img{
	height: 100px;
	width: 100px;
	object-fit: contain;
	padding-left: 30px;
}

.title-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 50px;
}

.title-bar-user {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-bar-user:first-child div {
    margin-right: 50px;
}

.projects__content-main {
    display: flex;
    height: 100%;
    width: 100%;
}

.projects__list-container {
    width: 320px;
    border: 1px solid red;
    border-radius: 0 20px 20px 0;
}


.container{
    display: flex;
}
.maine-header{
    background-color: #030303;
    width: 280px;
    height: 100vh;
}
.menu-list{
    color: white;
}
.logout-section {
    color: white;
}
.image-set{
    margin: 0 0 50px 50px;
    line-height: 1.5;
    list-style-type: none;
        padding: 0;
      
}
.text-design{
    display: flex;
    align-items: center;
    font-size: 32px;
    margin-right: 20px;
    padding: 20px 0px;
}
.nav-img {
    margin-right: 20px; /* Adjust the value as needed */
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}


    

/* team cards  */
.projects__task-container{
	padding: 14px 50px;
	overflow: scroll;
}
.team-card-container{
    border: 1px solid #C4C4C4;
    max-width: 405px;
    max-height: 625px;
    border-radius: 30px;
    padding: 10px;
	margin: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#team-cards-section{  
	 display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	justify-content: space-around;
}
.team-card-date,
.team-card-time{
    display: flex;
    justify-content: space-around;
    line-height: 120%;
	padding: 10px 0px;	
}
.team-card-name{
    /* height: 125px;  */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
} 
.team-card-add-project img{
    width: 60px;
    height: 60px; 
}
.team-card-indetity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
	padding: 50px 0px;
}
.team-card-add-project{
    text-align: end;
}
.team-card-projects-tabel {
	margin: 0 auto;
}
.team-card-projects-tabel table{
	width: 355px;
    height: 261px;
}
.table {
    border-collapse: collapse;

}


th, td {
	font-size: 18px;
    padding: 8px;
	text-align: center;
	font-weight: 400;
    border: 1px solid #ddd;
}
th {
	font-size: 20px;
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

